  <tr>
    <td>
      <%= cl_image_tag(product.image, :width=>100, :height=>100) %>
    </td>
    <td>
      <%= product.name %>
    </td>
    <td>
      <%= product.description %>
    </td>
    </td>
    <td>
      <%= product.price %>
    </td>
    <td>
      <%= product.quantity %>
    </td>
    <td>
      <%= product.quantity * product.price %>
    </td>
  </tr>
